* {
    box-sizing: border-box;
}

.placeholder {
    color: #a0a1a4;
}

.labell {
    color: #0068e4;
    cursor: pointer;
}

.label:hover {
    color: red;
}

.input {
    display: none;
}

input {
    overflow: visible;
}

.area {
    width: 100%;
    max-width: 660px;
    position: relative;
}

.area_text {
    resize: none;
    overflow: auto;
    width: 100%;
    max-width: 660px;
    min-height: 200px;
    min-width: 100%;
    border-radius: 16px;
    border: 1px solid #eee;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 25px;
}

.area_download {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: -.0.5px;
}

.area_file {
    position: absolute;
    display: flex;
    inset: 0;
    z-index: 1;
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.file_name {
    font-weight: 700;
    font-size: 20px;
}

.file_length {
    font-size: 15px;
}

.file_other {
    font-size: 13px;
    border-bottom: 1px dashed #999;
    color: #999;
    cursor: pointer;
    margin-top: 5px;
}
